source/Web GUI/ISTATRegistry/Service References/MyService/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetUserByCredentials">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserByCredentialsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserByCredentialsResult" type="tns:User" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="User">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="surname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="agencies" type="tns:ArrayOfUserAgency" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfUserAgency">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="UserAgency" nillable="true" type="tns:UserAgency" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="UserAgency">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="lang" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="text" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CleanAgenciesRelationForUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CleanAgenciesRelationForUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CleanAgenciesRelationForUserResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateUserAgenciesRelation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="agencySchemeId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="agencySchemeAgencyId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="agencySchemeVersion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="agency" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateUserAgenciesRelationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateUserAgenciesRelationResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteUserResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="surname" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertUserResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCodesIdByUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCodesIdByUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCodesIdByUserResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="UpdateUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="surname" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateUserResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserByIdResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllUsers">
        <s:complexType />
      </s:element>
      <s:element name="GetAllUsersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllUsersResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckIfUserExists">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckIfUserExistsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CheckIfUserExistsResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCodelistId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="agency" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="version1IsPresent" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="version1" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="version2IsPresent" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="version2" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="version3IsPresent" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="version3" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="foundId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCodelistIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetCodelistIdResult" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="foundId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertDsdCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codelistId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="parentCode" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="insertedId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertDsdCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertDsdCodeResult" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="insertedId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDsdCodeId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="codelistId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="codeId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="foundId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDsdCodeIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetDsdCodeIdResult" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="foundId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertLocalizedString">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="itemId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="text" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="type" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="language" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="foundId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertLocalizedStringResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertLocalizedStringResult" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="foundId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertOrderAnnotation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="itemId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="order" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertOrderAnnotationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertOrderAnnotationResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetUserByCredentialsSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserByCredentials" />
  </wsdl:message>
  <wsdl:message name="GetUserByCredentialsSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserByCredentialsResponse" />
  </wsdl:message>
  <wsdl:message name="CleanAgenciesRelationForUserSoapIn">
    <wsdl:part name="parameters" element="tns:CleanAgenciesRelationForUser" />
  </wsdl:message>
  <wsdl:message name="CleanAgenciesRelationForUserSoapOut">
    <wsdl:part name="parameters" element="tns:CleanAgenciesRelationForUserResponse" />
  </wsdl:message>
  <wsdl:message name="CreateUserAgenciesRelationSoapIn">
    <wsdl:part name="parameters" element="tns:CreateUserAgenciesRelation" />
  </wsdl:message>
  <wsdl:message name="CreateUserAgenciesRelationSoapOut">
    <wsdl:part name="parameters" element="tns:CreateUserAgenciesRelationResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteUserSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteUser" />
  </wsdl:message>
  <wsdl:message name="DeleteUserSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteUserResponse" />
  </wsdl:message>
  <wsdl:message name="InsertUserSoapIn">
    <wsdl:part name="parameters" element="tns:InsertUser" />
  </wsdl:message>
  <wsdl:message name="InsertUserSoapOut">
    <wsdl:part name="parameters" element="tns:InsertUserResponse" />
  </wsdl:message>
  <wsdl:message name="GetCodesIdByUserSoapIn">
    <wsdl:part name="parameters" element="tns:GetCodesIdByUser" />
  </wsdl:message>
  <wsdl:message name="GetCodesIdByUserSoapOut">
    <wsdl:part name="parameters" element="tns:GetCodesIdByUserResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateUserSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateUser" />
  </wsdl:message>
  <wsdl:message name="UpdateUserSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateUserResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserByIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserById" />
  </wsdl:message>
  <wsdl:message name="GetUserByIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserByIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllUsersSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllUsers" />
  </wsdl:message>
  <wsdl:message name="GetAllUsersSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="CheckIfUserExistsSoapIn">
    <wsdl:part name="parameters" element="tns:CheckIfUserExists" />
  </wsdl:message>
  <wsdl:message name="CheckIfUserExistsSoapOut">
    <wsdl:part name="parameters" element="tns:CheckIfUserExistsResponse" />
  </wsdl:message>
  <wsdl:message name="GetCodelistIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetCodelistId" />
  </wsdl:message>
  <wsdl:message name="GetCodelistIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetCodelistIdResponse" />
  </wsdl:message>
  <wsdl:message name="InsertDsdCodeSoapIn">
    <wsdl:part name="parameters" element="tns:InsertDsdCode" />
  </wsdl:message>
  <wsdl:message name="InsertDsdCodeSoapOut">
    <wsdl:part name="parameters" element="tns:InsertDsdCodeResponse" />
  </wsdl:message>
  <wsdl:message name="GetDsdCodeIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetDsdCodeId" />
  </wsdl:message>
  <wsdl:message name="GetDsdCodeIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetDsdCodeIdResponse" />
  </wsdl:message>
  <wsdl:message name="InsertLocalizedStringSoapIn">
    <wsdl:part name="parameters" element="tns:InsertLocalizedString" />
  </wsdl:message>
  <wsdl:message name="InsertLocalizedStringSoapOut">
    <wsdl:part name="parameters" element="tns:InsertLocalizedStringResponse" />
  </wsdl:message>
  <wsdl:message name="InsertOrderAnnotationSoapIn">
    <wsdl:part name="parameters" element="tns:InsertOrderAnnotation" />
  </wsdl:message>
  <wsdl:message name="InsertOrderAnnotationSoapOut">
    <wsdl:part name="parameters" element="tns:InsertOrderAnnotationResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="GetUserByCredentials">
      <wsdl:input message="tns:GetUserByCredentialsSoapIn" />
      <wsdl:output message="tns:GetUserByCredentialsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CleanAgenciesRelationForUser">
      <wsdl:input message="tns:CleanAgenciesRelationForUserSoapIn" />
      <wsdl:output message="tns:CleanAgenciesRelationForUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateUserAgenciesRelation">
      <wsdl:input message="tns:CreateUserAgenciesRelationSoapIn" />
      <wsdl:output message="tns:CreateUserAgenciesRelationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <wsdl:input message="tns:DeleteUserSoapIn" />
      <wsdl:output message="tns:DeleteUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertUser">
      <wsdl:input message="tns:InsertUserSoapIn" />
      <wsdl:output message="tns:InsertUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCodesIdByUser">
      <wsdl:input message="tns:GetCodesIdByUserSoapIn" />
      <wsdl:output message="tns:GetCodesIdByUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <wsdl:input message="tns:UpdateUserSoapIn" />
      <wsdl:output message="tns:UpdateUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserById">
      <wsdl:input message="tns:GetUserByIdSoapIn" />
      <wsdl:output message="tns:GetUserByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <wsdl:input message="tns:GetAllUsersSoapIn" />
      <wsdl:output message="tns:GetAllUsersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckIfUserExists">
      <wsdl:input message="tns:CheckIfUserExistsSoapIn" />
      <wsdl:output message="tns:CheckIfUserExistsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCodelistId">
      <wsdl:input message="tns:GetCodelistIdSoapIn" />
      <wsdl:output message="tns:GetCodelistIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertDsdCode">
      <wsdl:input message="tns:InsertDsdCodeSoapIn" />
      <wsdl:output message="tns:InsertDsdCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDsdCodeId">
      <wsdl:input message="tns:GetDsdCodeIdSoapIn" />
      <wsdl:output message="tns:GetDsdCodeIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertLocalizedString">
      <wsdl:input message="tns:InsertLocalizedStringSoapIn" />
      <wsdl:output message="tns:InsertLocalizedStringSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertOrderAnnotation">
      <wsdl:input message="tns:InsertOrderAnnotationSoapIn" />
      <wsdl:output message="tns:InsertOrderAnnotationSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUserByCredentials">
      <soap:operation soapAction="http://tempuri.org/GetUserByCredentials" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CleanAgenciesRelationForUser">
      <soap:operation soapAction="http://tempuri.org/CleanAgenciesRelationForUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUserAgenciesRelation">
      <soap:operation soapAction="http://tempuri.org/CreateUserAgenciesRelation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap:operation soapAction="http://tempuri.org/DeleteUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertUser">
      <soap:operation soapAction="http://tempuri.org/InsertUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCodesIdByUser">
      <soap:operation soapAction="http://tempuri.org/GetCodesIdByUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <soap:operation soapAction="http://tempuri.org/UpdateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserById">
      <soap:operation soapAction="http://tempuri.org/GetUserById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <soap:operation soapAction="http://tempuri.org/GetAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckIfUserExists">
      <soap:operation soapAction="http://tempuri.org/CheckIfUserExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCodelistId">
      <soap:operation soapAction="http://tempuri.org/GetCodelistId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertDsdCode">
      <soap:operation soapAction="http://tempuri.org/InsertDsdCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDsdCodeId">
      <soap:operation soapAction="http://tempuri.org/GetDsdCodeId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertLocalizedString">
      <soap:operation soapAction="http://tempuri.org/InsertLocalizedString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertOrderAnnotation">
      <soap:operation soapAction="http://tempuri.org/InsertOrderAnnotation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUserByCredentials">
      <soap12:operation soapAction="http://tempuri.org/GetUserByCredentials" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CleanAgenciesRelationForUser">
      <soap12:operation soapAction="http://tempuri.org/CleanAgenciesRelationForUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUserAgenciesRelation">
      <soap12:operation soapAction="http://tempuri.org/CreateUserAgenciesRelation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap12:operation soapAction="http://tempuri.org/DeleteUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertUser">
      <soap12:operation soapAction="http://tempuri.org/InsertUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCodesIdByUser">
      <soap12:operation soapAction="http://tempuri.org/GetCodesIdByUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <soap12:operation soapAction="http://tempuri.org/UpdateUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserById">
      <soap12:operation soapAction="http://tempuri.org/GetUserById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <soap12:operation soapAction="http://tempuri.org/GetAllUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckIfUserExists">
      <soap12:operation soapAction="http://tempuri.org/CheckIfUserExists" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCodelistId">
      <soap12:operation soapAction="http://tempuri.org/GetCodelistId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertDsdCode">
      <soap12:operation soapAction="http://tempuri.org/InsertDsdCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDsdCodeId">
      <soap12:operation soapAction="http://tempuri.org/GetDsdCodeId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertLocalizedString">
      <soap12:operation soapAction="http://tempuri.org/InsertLocalizedString" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertOrderAnnotation">
      <soap12:operation soapAction="http://tempuri.org/InsertOrderAnnotation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://localhost:4623/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://localhost:4623/Service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>